* {font-family:"HelveticaNeueETW01-55Rg";font-size:1em;color:#000}
body{line-height:175%;}
body > .container {border:1px solid red}
@media (min-width:1200px) {
    body > .container {width: 1050px;margin: 0 auto;}
}
@media (min-width:992px) and (max-width:1199px) {
    body > .container {width: 970px;margin: 0 auto;}
}
@media (min-width:768px) and (max-width:991xp) {
    body > .container {width: 710px;margin: 0 auto;}
}
@media (min-width:480px) and (max-width:767px) {
    body > .container {width: 480px;margin: 0 auto;}
}
@media (max-width:479px) {
    body > .container {width: 360px;margin: 0 auto;}
}